<%- include('header.ejs') %>

<%- include('nav.ejs') %>

<div class="box searchdiv">

    <div class="finduserdiv boxinset">

        <% users.profilefriends.forEach(function(user){ %>
            
            <% all.forEach(function(every){ %>

                <% if( every._id.equals(user) ){ %>

                    <div class="finduserimage">
                        <img src="/uploads/<%=every.profileimage%>" alt="userimage">
                    </div>
                    <div class="findusername" style="font-size: 150%;">
                        <h1><%=every.profilename%></h1>
                    </div>
                    <div class="findviewbtn">
                
                        <form action="message" method="post">
                            <input type="submit" value="Message">
                            <input type="text" name="finduser" id="finduserid" value="<%=every._id%>" style="display: none;">
                        </form>

                    </div>

            <% } %>

            <% }) %>

        <% }) %>

    </div>

</div>

<%- include('socially.ejs') %>

<%- include('footer.ejs') %>